In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\python310\lib\site-packages (2.2.2)
Requirement already satisfied: tzdata>=2022.7 in c:\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.22.4 in c:\python310\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python310\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: You are using pip version 22.0.4; however, version 24.0 is available.
You should consider upgrading via the 'c:\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas

In [4]:
d={'cars':['BMW','polo','ford'],'passings':[3,5,7]}
b=pandas.DataFrame(d)
print(b)

   cars  passings
0   BMW         3
1  polo         5
2  ford         7

In [6]:
import pandas as pd
d={'cars':['BMW','polo','ford'],'passings':[3,5,7]}
b=pd.DataFrame(d)
print(b)

   cars  passings
0   BMW         3
1  polo         5
2  ford         7

In [9]:
pd.__version__

'2.2.2'

In [31]:
d=[1,2,3]
#b=pd.Series(d[2],index=[3])
b=pd.Series(d[:1])
print(b)

0    1
dtype: int64

In [32]:
calories={'day1':200,'day2':300,'day3':400}
b=pd.Series(calories,index=['day1','day2'])

print(b)

day1    200
day2    300
dtype: int64

In [93]:
import numpy as np
details=pd.DataFrame({'Name':['nihana','thasneem','nasri'],'Age':[25,20,28],'Place':["koduvally",'nandi','payyoli']})
b=np.array([25,20])
c=details[details['Age'].isin(b)]
details['sqrt']=np.sqrt(details['Age'])
details['square']=np.square(details['Age'])
details['mean']=np.mean(details['Age'])
details['max']=np.max(details['Age'])
details=details.describe()
#details=np.cumsum(details['Age'])
print(details)

             Age      sqrt      square       mean   max
count   3.000000  3.000000    3.000000   3.000000   3.0
mean   24.333333  4.921213  603.000000  24.333333  28.0
std     4.041452  0.415326  192.942997   0.000000   0.0
min    20.000000  4.472136  400.000000  24.333333  28.0
25%    22.500000  4.736068  512.500000  24.333333  28.0
50%    25.000000  5.000000  625.000000  24.333333  28.0
75%    26.500000  5.145751  704.500000  24.333333  28.0
max    28.000000  5.291503  784.000000  24.333333  28.0

In [ ]:
d

In [89]:
ff=np.cumsum(details['Age'])
print(ff)

count      3.000000
mean      27.333333
std       31.374785
min       51.374785
25%       73.874785
50%       98.874785
75%      125.374785
max      153.374785
Name: Age, dtype: float64

In [97]:
details1=pd.DataFrame({'name': ['arun','arya','arjun'],'age':[18,np.nan,22],'place':['delhi','kerala','goa']})
b=details1['age'].mean()
details1['age']=details1['age'].fillna(b)
print(details1)

    name   age   place
0   arun  18.0   delhi
1   arya  20.0  kerala
2  arjun  22.0     goa

In [117]:
details1.fillna(100)
details1

    name   age   place
0   arun  18.0   delhi
1   arya  20.0  kerala
2  arjun  22.0     goa

In [115]:
details2=pd.DataFrame({'name':['arun','arun','arjun'],'col1':[15,15,22],'col2':[15,15,23]})
#details2.drop_duplicates()
details2.rename(columns={'name':'id'})

      id  col1  col2
0   arun    15    15
1   arun    15    15
2  arjun    22    23

In [125]:
details1=pd.DataFrame({'name': ['arun','arya','arjun'],'age':[18,np.nan,22],'place':['delhi','kerala','goa']})
details1.fillna(100)

    name    age   place
0   arun   18.0   delhi
1   arya  100.0  kerala
2  arjun   22.0     goa

In [130]:
data=pd.DataFrame()
data['datetime']=pd.date_range('1/1/2010 10:10',periods=10,freq='w')
data['date']=data['datetime'].dt.date
data['time']=data['datetime'].dt.time
data

C:\Users\Maitexa user\AppData\Local\Temp\ipykernel_6948\688200440.py:2: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  data['datetime']=pd.date_range('1/1/2010 10:10',periods=10,freq='w')

             datetime        date      time
0 2010-01-03 10:10:00  2010-01-03  10:10:00
1 2010-01-10 10:10:00  2010-01-10  10:10:00
2 2010-01-17 10:10:00  2010-01-17  10:10:00
3 2010-01-24 10:10:00  2010-01-24  10:10:00
4 2010-01-31 10:10:00  2010-01-31  10:10:00
5 2010-02-07 10:10:00  2010-02-07  10:10:00
6 2010-02-14 10:10:00  2010-02-14  10:10:00
7 2010-02-21 10:10:00  2010-02-21  10:10:00
8 2010-02-28 10:10:00  2010-02-28  10:10:00
9 2010-03-07 10:10:00  2010-03-07  10:10:00

In [140]:
d=pd.DataFrame(data)
d.to_csv('data.csv',index=False)
# print(d.tail())# head/tail  
print(d.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  10 non-null     datetime64[ns]
 1   date      10 non-null     object
 2   time      10 non-null     object
dtypes: datetime64[ns](1), object(2)
memory usage: 368.0+ bytes
None

In [135]:
d=pd.DataFrame(data)
d.to_excel('data.xlsx',index=False)

In [141]:
d=pd.DataFrame({'nihana','niha','nasri','niha'})
d.dropna()

        0
0   nasri
1    niha
2  nihana

In [134]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     -------------------------------------- 250.0/250.0 KB 5.1 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: You are using pip version 22.0.4; however, version 24.0 is available.
You should consider upgrading via the 'c:\Python310\python.exe -m pip install --upgrade pip' command.

In [142]:
details=pd.DataFrame({'Name':['nihana','thasneem','nasri'],'Age':[25,np.nan,28],'Place':["koduvally",'nandi','payyoli']})
b=details.dropna()
print(b.to_string())

     Name   Age      Place
0  nihana  25.0  koduvally
2   nasri  28.0    payyoli