In [ ]:
import pandas as pd
import numpy as np
data1=pd.read_csv(r'C:\Users\Maitexa user\Desktop\nihana\archive (2)\Heart_Disease_Prediction.csv')
print(data1)

In [ ]:
data1.info()
data1.isnull().sum()

In [12]:
data1.shape
data1.columns

Index(['Age', 'Sex', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Max HR', 'Exercise angina', 'ST depression',
       'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease'],
      dtype='object')

In [ ]:
data1.tail()

In [ ]:
data1.head()

In [24]:
from sklearn.preprocessing  import LabelEncoder
l=LabelEncoder()
data1['Heart Disease']=l.fit_transform(data1['Heart Disease'])
data1.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,1
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,0
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,1
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,0
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,0

In [46]:
x=data1.drop(['Heart Disease'],axis=1)
y=data1['Heart Disease']
data1

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,1
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,0
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,1
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,0
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,0
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,0
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,0
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,0
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1

In [ ]:
x

In [ ]:
y

In [30]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3)

In [31]:
xtrain.shape,xtest.shape,ytrain.shape,ytest.shape

((189, 13), (81, 13), (189,), (81,))

In [ ]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(xtrain,ytrain)

In [39]:
xtest

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
52,65,0,3,140,417,1,2,157,0,0.8,1,1,3
133,64,1,4,120,246,0,2,96,1,2.2,3,1,3
236,53,0,4,138,234,0,2,160,0,0.0,1,0,3
199,77,1,4,125,304,0,2,162,1,0.0,1,3,3
106,51,1,3,100,222,0,0,143,1,1.2,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,60,1,4,140,293,0,2,170,0,1.2,2,2,7
68,44,0,3,118,242,0,0,149,0,0.3,2,1,3
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3
258,64,1,3,140,335,0,0,158,0,0.0,1,0,3
251,44,1,2,130,219,0,2,188,0,0.0,1,0,3

In [48]:
model.predict(xtest)

AttributeError: 'LabelEncoder' object has no attribute 'predict'

In [35]:
model.score(xtest,ytest)

0.364285268558186

In [40]:
model.predict([[65,0,3,140,417,1,2,157,0,0.8,1,1,3]])

c:\Python310\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)