In [1]:
import pandas as pd

import numpy as np
data=pd.read_csv(r'C:\Users\Maitexa user\Desktop\nihana\kidney disease\kidney_disease.csv')
data.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [2]:
data.drop(['id'],axis=1,inplace=True)

In [3]:
data.head(3)

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.02,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.02,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.01,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd

In [4]:
data['age'].value_counts()

age
60.0    19
65.0    17
48.0    12
55.0    12
50.0    12
        ..
83.0     1
27.0     1
14.0     1
81.0     1
79.0     1
Name: count, Length: 76, dtype: int64

In [5]:
data['age']=data['age'].fillna(data['age'].mean()).astype('int')

In [6]:
data.isnull().sum()

age                 0
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [7]:

data['bp']=data['bp'].fillna(data['bp'].max()).astype('int')

data['sg']=data['sg'].fillna(data['sg'].mean())

data['al']=data['al'].fillna(data['al'].mean())

data['su']=data['su'].fillna(data['su'].mean())

In [8]:
data

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48,80,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7,50,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62,80,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48,70,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51,80,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55,80,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42,70,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12,80,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17,60,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58,80,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [9]:
data['pcv']

0      44
1      38
2      31
3      32
4      35
       ..
395    47
396    54
397    49
398    51
399    53
Name: pcv, Length: 400, dtype: object

In [10]:
data['bu']=data['bu'].fillna(data['bu'].median())

data['sc']=data['sc'].fillna(data['sc'].median())

data['hemo']=data['hemo'].fillna(data['hemo'].median())

In [11]:
data

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48,80,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7,50,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62,80,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48,70,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51,80,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55,80,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42,70,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12,80,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17,60,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58,80,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [12]:
data.shape

(400, 25)

In [13]:
data.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [14]:
data.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48,80,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7,50,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62,80,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48,70,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51,80,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [15]:
data.tail()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
395,55,80,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42,70,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12,80,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17,60,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58,80,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [16]:
pd.set_option('display.max_columns',None)

In [17]:
data['pcv']=data['pcv'].replace({'\t?':32})

In [18]:
data['wc']=data['wc'].replace({'\t?':6700})

In [19]:
data['wc']

0      7800
1      6000
2      7500
3      6700
4      7300
       ...
395    6700
396    7800
397    6600
398    7200
399    6800
Name: wc, Length: 400, dtype: object

In [20]:
for i in data['rc']:
    print(i)

5.2
nan
nan
3.9
4.6
4.4
nan
5
4.0
3.7
nan
3.8
3.4
nan
2.6
2.8
nan
nan
4.3
3.7
3.2
3.6
3.4
nan
4.6
3.7
4
4.1
nan
nan
nan
4
4.0
nan
nan
4.9
nan
2.5
nan
4.2
4.1
nan
4.5
3.1
nan
nan
4.7
nan
3.5
3.5
3.8
nan
3.7
4.7
4.2
nan
3.4
nan
4.3
nan
nan
nan
3.8
nan
nan
nan
nan
nan
nan
6.0
5.2
3.2
nan
nan
3.4
nan
4
3.7
nan
5.0
3.8
3.7
nan
nan
2.1
nan
nan
5
4.7
nan
4.2
5.6
3.6
3.2
3.9
nan
nan
4.0
2.3
4.2
nan
3.9
nan
4.2
nan
5.2
nan
4.4
4.2
nan
4.7
3.9
nan
nan
nan
4.3
nan
4.4
nan
nan
nan
nan
nan
nan
3.6
nan
4.5
4.3
2.9
nan
2.7
nan
2.7
8.0
3.8
nan
nan
nan
nan
nan
nan
nan
nan
nan
4.1
3.3
nan
3.0
nan
nan
nan
nan
nan
2.9
3
nan
nan
3.9
nan
4.3
2.4
4.8
	?
3.2
5.4
nan
nan
nan
nan
nan
4.4
3.1
4.9
nan
4.6
3.4
3.9
nan
nan
nan
nan
3.7
nan
nan
3.6
nan
nan
nan
nan
3.4
4.8
3.4
nan
2.8
nan
nan
3.5
3.0
3.9
3.2
3.9
nan
nan
nan
nan
nan
nan
4.6
4.9
nan
3.9
nan
3.4
3.7
5.2
nan
nan
4.3
nan
3.3
nan
nan
nan
4.6
nan
4.5
3.4
3.8
nan
3.8
nan
nan
nan
nan
5.2
nan
nan
nan
nan
nan
4.1
3.9
3.3
6.1
4.6
2.6
2.5
nan
4.1
2.1
4.5
5.0
4.7
6.2
5.2
6.3
5.1
5.8
5.5
5.2
5.3
4.9
5.4
5.2
4.5
5.0
5.3
4.8
4.9
5.3
5.0
4.5
5.5
nan
nan
4.6
5.5
4.8
6.4
5.6
5.2
6.0
4.8
5.7
6.0
5.9
6.0
nan
5.1
5.3
5.9
5.7
5.0
5.4
5.8
6.5
5.9
5.2
4.9
4.7
5.8
5.0
nan
6.1
4.5
5.2
5.7
4.5
4.9
5.9
5.4
5.6
6.1
4.8
4.7
4.4
5.2
4.9
5.3
nan
6.2
4.8
4.9
4.5
nan
6.5
5.2
5.8
6.5
5.1
nan
4.5
6.1
5.5
4.5
5.6
5.2
6.2
4.5
4.9
5.9
4.7
6.3
5.7
4.7
6.4
5.8
5.5
6.4
6.1
4.5
4.7
5.2
4.5
5.1
4.6
6.1
4.9
5.6
4.5
6.2
5.8
4.8
5.2
4.7
6.3
5.3
6.1
5.9
4.8
5.4
5.0
5.5
4.9
6.4
5.6
5.2
4.8
5.5
5.7
4.9
5.9
6.5
5.0
4.5
5.1
6.5
5.2
6.4
5.8
5.3
6.3
5.5
5.4
4.6
4.9
6.2
5.4
5.9
6.1

In [21]:
data.isnull().sum()

age                 0
bp                  0
sg                  0
al                  0
su                  0
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                  0
sc                  0
sod                87
pot                88
hemo                0
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [22]:
data['rc'].value_counts()

rc
5.2    18
4.5    16
4.9    14
4.7    11
4.8    10
3.9    10
4.6     9
3.4     9
5.9     8
5.5     8
6.1     8
5.0     8
3.7     8
5.3     7
5.8     7
5.4     7
3.8     7
5.6     6
4.3     6
4.2     6
3.2     5
4.4     5
5.7     5
6.4     5
5.1     5
6.2     5
6.5     5
4.1     5
3.6     4
6.3     4
6.0     4
4.0     3
3.3     3
4       3
3.5     3
2.9     2
3.1     2
2.6     2
2.1     2
2.5     2
2.8     2
3.0     2
2.7     2
5       2
2.3     1
\t?     1
2.4     1
3       1
8.0     1
Name: count, dtype: int64

In [23]:
data['pcv'].value_counts()

pcv
41      21
52      21
44      19
48      19
40      16
43      14
42      13
45      13
32      12
36      12
33      12
50      12
28      12
34      11
37      11
30       9
29       9
35       9
46       9
31       8
24       7
39       7
26       6
38       5
53       4
51       4
49       4
47       4
54       4
25       3
27       3
22       3
19       2
23       2
15       1
21       1
17       1
20       1
\t43     1
18       1
9        1
14       1
32       1
16       1
Name: count, dtype: int64

In [24]:
data.isnull().sum()

age                 0
bp                  0
sg                  0
al                  0
su                  0
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                  0
sc                  0
sod                87
pot                88
hemo                0
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [25]:
data['rc']

0      5.2
1      NaN
2      NaN
3      3.9
4      4.6
      ...
395    4.9
396    6.2
397    5.4
398    5.9
399    6.1
Name: rc, Length: 400, dtype: object

In [26]:
data['rc']=data['rc'].fillna(4.8)

In [27]:
data['rbc']=data['rbc'].fillna(method='bfill')

data['pc']=data['pc'].fillna(method='bfill')
data['pcc']=data['pcc'].fillna(method='bfill')
data['ba']=data['ba'].fillna(method='bfill')

C:\Users\Maitexa user\AppData\Local\Temp\ipykernel_21036\592578219.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['rbc']=data['rbc'].fillna(method='bfill')
C:\Users\Maitexa user\AppData\Local\Temp\ipykernel_21036\592578219.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['pc']=data['pc'].fillna(method='bfill')
C:\Users\Maitexa user\AppData\Local\Temp\ipykernel_21036\592578219.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['pcc']=data['pcc'].fillna(method='bfill')
C:\Users\Maitexa user\AppData\Local\Temp\ipykernel_21036\592578219.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['ba']=data['ba'].fillna(method='bfill')

In [28]:
data

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48,80,1.020,1.0,0.0,normal,normal,notpresent,notpresent,121.0,36.0,1.2,NaN,NaN,15.4,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7,50,1.020,4.0,0.0,normal,normal,notpresent,notpresent,NaN,18.0,0.8,NaN,NaN,11.3,38,6000,4.8,no,no,no,good,no,no,ckd
2,62,80,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,53.0,1.8,NaN,NaN,9.6,31,7500,4.8,no,yes,no,poor,no,yes,ckd
3,48,70,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,56.0,3.8,111.0,2.5,11.2,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51,80,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,26.0,1.4,NaN,NaN,11.6,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55,80,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,49.0,0.5,150.0,4.9,15.7,47,6700,4.9,no,no,no,good,no,no,notckd
396,42,70,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,31.0,1.2,141.0,3.5,16.5,54,7800,6.2,no,no,no,good,no,no,notckd
397,12,80,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,26.0,0.6,137.0,4.4,15.8,49,6600,5.4,no,no,no,good,no,no,notckd
398,17,60,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,50.0,1.0,135.0,4.9,14.2,51,7200,5.9,no,no,no,good,no,no,notckd
399,58,80,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,18.0,1.1,141.0,3.5,15.8,53,6800,6.1,no,no,no,good,no,no,notckd

In [29]:






data['htn']=data['htn'].fillna(method='ffill')

data['dm']=data['dm'].fillna(method='ffill')

data['cad']=data['cad'].fillna(method='ffill')

data['pe']=data['pe'].fillna(method='ffill')
data['ane']=data['ane'].fillna(method='ffill')
data['appet']=data['appet'].fillna(method='ffill')

data['bgr']=data['bgr'].fillna(method='bfill')
data['sod']=data['sod'].fillna(method='bfill')

data['pot']=data['pot'].fillna(method='bfill')
data

C:\Users\Maitexa user\AppData\Local\Temp\ipykernel_21036\2298168375.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['htn']=data['htn'].fillna(method='ffill')
C:\Users\Maitexa user\AppData\Local\Temp\ipykernel_21036\2298168375.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['dm']=data['dm'].fillna(method='ffill')
C:\Users\Maitexa user\AppData\Local\Temp\ipykernel_21036\2298168375.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['cad']=data['cad'].fillna(method='ffill')
C:\Users\Maitexa user\AppData\Local\Temp\ipykernel_21036\2298168375.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['pe']=data['pe'].fillna(method='ffill')
C:\Users\Maitexa user\AppData\Local\Temp\ipykernel_21036\2298168375.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['ane']=data['ane'].fillna(method='ffill')
C:\Users\Maitexa user\AppData\Local\Temp\ipykernel_21036\2298168375.py:9: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['appet']=data['appet'].fillna(method='ffill')
C:\Users\Maitexa user\AppData\Local\Temp\ipykernel_21036\2298168375.py:11: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['bgr']=data['bgr'].fillna(method='bfill')
C:\Users\Maitexa user\AppData\Local\Temp\ipykernel_21036\2298168375.py:12: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['sod']=data['sod'].fillna(method='bfill')
C:\Users\Maitexa user\AppData\Local\Temp\ipykernel_21036\2298168375.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['pot']=data['pot'].fillna(method='bfill')

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48,80,1.020,1.0,0.0,normal,normal,notpresent,notpresent,121.0,36.0,1.2,111.0,2.5,15.4,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7,50,1.020,4.0,0.0,normal,normal,notpresent,notpresent,423.0,18.0,0.8,111.0,2.5,11.3,38,6000,4.8,no,no,no,good,no,no,ckd
2,62,80,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,53.0,1.8,111.0,2.5,9.6,31,7500,4.8,no,yes,no,poor,no,yes,ckd
3,48,70,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,56.0,3.8,111.0,2.5,11.2,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51,80,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,26.0,1.4,142.0,3.2,11.6,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55,80,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,49.0,0.5,150.0,4.9,15.7,47,6700,4.9,no,no,no,good,no,no,notckd
396,42,70,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,31.0,1.2,141.0,3.5,16.5,54,7800,6.2,no,no,no,good,no,no,notckd
397,12,80,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,26.0,0.6,137.0,4.4,15.8,49,6600,5.4,no,no,no,good,no,no,notckd
398,17,60,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,50.0,1.0,135.0,4.9,14.2,51,7200,5.9,no,no,no,good,no,no,notckd
399,58,80,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,18.0,1.1,141.0,3.5,15.8,53,6800,6.1,no,no,no,good,no,no,notckd

In [30]:
data.isnull().sum()

age                 0
bp                  0
sg                  0
al                  0
su                  0
rbc                 0
pc                  0
pcc                 0
ba                  0
bgr                 0
bu                  0
sc                  0
sod                 0
pot                 0
hemo                0
pcv                70
wc                105
rc                  0
htn                 0
dm                  0
cad                 0
appet               0
pe                  0
ane                 0
classification      0
dtype: int64

In [31]:

data['wc'].value_counts()

wc
9800     11
6700     10
9200      9
9600      9
7200      9
         ..
19100     1
6700      1
12300     1
14900     1
12700     1
Name: count, Length: 92, dtype: int64

In [32]:

data['pcv']=data['pcv'].fillna(11)

data['wc']=data['wc'].fillna(9600)

In [33]:
data.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48,80,1.020,1.0,0.0,normal,normal,notpresent,notpresent,121.0,36.0,1.2,111.0,2.5,15.4,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7,50,1.020,4.0,0.0,normal,normal,notpresent,notpresent,423.0,18.0,0.8,111.0,2.5,11.3,38,6000,4.8,no,no,no,good,no,no,ckd
2,62,80,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,53.0,1.8,111.0,2.5,9.6,31,7500,4.8,no,yes,no,poor,no,yes,ckd
3,48,70,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,56.0,3.8,111.0,2.5,11.2,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51,80,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,26.0,1.4,142.0,3.2,11.6,35,7300,4.6,no,no,no,good,no,no,ckd

In [68]:
data['ba'].value_counts()

ba
0    378
1     22
Name: count, dtype: int64

In [35]:
data['classification']=data['classification'].replace({'ckd\t':'ckd'})

In [36]:
from sklearn.preprocessing  import LabelEncoder
l=LabelEncoder()
data['rbc']=l.fit_transform(data['rbc'])
data['pc']=l.fit_transform(data['pc'])
data['pcc']=l.fit_transform(data['pcc'])
data['ba']=l.fit_transform(data['ba'])
data['htn']=l.fit_transform(data['htn'])
data['dm']=l.fit_transform(data['dm'])
data['cad']=l.fit_transform(data['cad'])
data['appet']=l.fit_transform(data['appet'])
data['pe']=l.fit_transform(data['pe'])
data['ane']=l.fit_transform(data['ane'])
data['classification']=l.fit_transform(data['classification'])

In [37]:
data['bp'].value_counts()

bp
80     116
70     112
60      71
90      53
100     25
180     13
50       5
110      3
140      1
120      1
Name: count, dtype: int64

In [38]:
data.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48,80,1.020,1.0,0.0,1,1,0,0,121.0,36.0,1.2,111.0,2.5,15.4,44,7800,5.2,1,4,1,0,0,0,0
1,7,50,1.020,4.0,0.0,1,1,0,0,423.0,18.0,0.8,111.0,2.5,11.3,38,6000,4.8,0,3,1,0,0,0,0
2,62,80,1.010,2.0,3.0,1,1,0,0,423.0,53.0,1.8,111.0,2.5,9.6,31,7500,4.8,0,4,1,1,0,1,0
3,48,70,1.005,4.0,0.0,1,0,1,0,117.0,56.0,3.8,111.0,2.5,11.2,32,6700,3.9,1,3,1,1,1,1,0
4,51,80,1.010,2.0,0.0,1,1,0,0,106.0,26.0,1.4,142.0,3.2,11.6,35,7300,4.6,0,3,1,0,0,0,0

In [39]:
x=data.drop(['classification'],axis=1)
y=data['classification']

In [40]:
data

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48,80,1.020,1.0,0.0,1,1,0,0,121.0,36.0,1.2,111.0,2.5,15.4,44,7800,5.2,1,4,1,0,0,0,0
1,7,50,1.020,4.0,0.0,1,1,0,0,423.0,18.0,0.8,111.0,2.5,11.3,38,6000,4.8,0,3,1,0,0,0,0
2,62,80,1.010,2.0,3.0,1,1,0,0,423.0,53.0,1.8,111.0,2.5,9.6,31,7500,4.8,0,4,1,1,0,1,0
3,48,70,1.005,4.0,0.0,1,0,1,0,117.0,56.0,3.8,111.0,2.5,11.2,32,6700,3.9,1,3,1,1,1,1,0
4,51,80,1.010,2.0,0.0,1,1,0,0,106.0,26.0,1.4,142.0,3.2,11.6,35,7300,4.6,0,3,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55,80,1.020,0.0,0.0,1,1,0,0,140.0,49.0,0.5,150.0,4.9,15.7,47,6700,4.9,0,3,1,0,0,0,1
396,42,70,1.025,0.0,0.0,1,1,0,0,75.0,31.0,1.2,141.0,3.5,16.5,54,7800,6.2,0,3,1,0,0,0,1
397,12,80,1.020,0.0,0.0,1,1,0,0,100.0,26.0,0.6,137.0,4.4,15.8,49,6600,5.4,0,3,1,0,0,0,1
398,17,60,1.025,0.0,0.0,1,1,0,0,114.0,50.0,1.0,135.0,4.9,14.2,51,7200,5.9,0,3,1,0,0,0,1
399,58,80,1.025,0.0,0.0,1,1,0,0,131.0,18.0,1.1,141.0,3.5,15.8,53,6800,6.1,0,3,1,0,0,0,1

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             400 non-null    int32
 1   bp              400 non-null    int32
 2   sg              400 non-null    float64
 3   al              400 non-null    float64
 4   su              400 non-null    float64
 5   rbc             400 non-null    int32
 6   pc              400 non-null    int32
 7   pcc             400 non-null    int32
 8   ba              400 non-null    int32
 9   bgr             400 non-null    float64
 10  bu              400 non-null    float64
 11  sc              400 non-null    float64
 12  sod             400 non-null    float64
 13  pot             400 non-null    float64
 14  hemo            400 non-null    float64
 15  pcv             400 non-null    object
 16  wc              400 non-null    object
 17  rc              400 non-null    object
 18  htn             400 non-null    int32
 19  dm              400 non-null    int32
 20  cad             400 non-null    int32
 21  appet           400 non-null    int32
 22  pe              400 non-null    int32
 23  ane             400 non-null    int32
 24  classification  400 non-null    int32
dtypes: float64(9), int32(13), object(3)
memory usage: 57.9+ KB

In [42]:
for i in data['wc']:
    print(i)

7800
6000
7500
6700
7300
7800
9600
6900
9600
12100
9600
4500
12200
9600
11000
3800
9600
9600
11400
5300
9200
6200
6900
9600
8300
8400
10300
9600
9600
9600
9600
7800
9600
9600
9600
9800
9600
6900
9600
9800
9100
9600
9200
7900
9600
9600
6400
8600
18900
21600
11000
9600
4300
8500
9800
9600
11300
9600
7200
9600
9600
9600
7700
9600
9600
9600
9600
9600
9600
6900
8300
14600
9600
6300
6400
9600
	6200
7100
9600
11800
9400
5500
9600
9600
3800
9600
9600
5800
13200
9600
9800
12500
5600
7000
11900
9600
9600
9100
5800
10400
9600
10700
7000
12700
9600
6800
6500
13600
10200
9600
11400
9000
9600
9800
10300
5600
9600
9800
9600
9600
9600
9600
9600
14900
5500
9600
8200
15200
5000
9600
16300
12400
13200
	8400
10200
9600
9600
9200
9600
9600
9600
6500
9600
9600
10500
4200
9600
15200
9600
9600
6700
9600
9600
14600
9600
4700
9600
7900
9600
10900
9400
10200
6000
8100
9500
9600
9600
2200
6700
9600
9600
12800
12800
11200
8600
4200
12400
9600
9800
9600
9600
19100
9600
9600
5800
6700
9600
12300
9600
7500
16700
9200
9600
2600
9600
9600
9600
4300
26400
10700
7900
9600
9600
9600
9600
9600
9600
10400
6900
6900
9800
9600
8800
7400
4900
9600
9600
10500
7000
8000
8800
9600
9600
9200
9600
12000
7500
7200
9600
15700
9500
9600
9600
9600
4100
5700
9600
9600
9600
9600
5000
4200
11500
11000
9800
7200
5000
9600
10200
5400
10400
9800
9100
6200
8300
9200
10700
9100
8400
4300
9400
5600
7200
8600
5000
10500
6800
9500
8500
6900
7200
9000
5600
9600
9600
4700
4500
6300
9400
5800
8100
9100
5500
10800
6700
5300
9800
9600
11000
7100
8400
7000
10200
4700
8300
9600
6300
7700
8600
11000
9200
7200
9600
6700
6200
9100
4300
7900
6900
8100
11000
7500
6300
8200
9400
7800
5000
8100
7000
9600
10400
9600
4500
7800
9600
6700
8300
10700
8600
7800
9600
6700
10500
4300
5600
10700
9200
7500
4700
7000
6700
7300
7700
5500
8100
7900
4300
7200
7300
9400
9600
9900
7000
5800
6800
6300
7400
11000
5200
6000
5800
5400
10300
5900
9300
10700
10500
6700
9400
10300
9300
6500
10500
9200
8000
9700
9100
6400
7700
5400
6500
5800
6000
5100
11000
8000
5700
6200
9500
7200
6300
5800
6600
7400
9500
6700
7800
6600
7200
6800

In [43]:
x

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,48,80,1.020,1.0,0.0,1,1,0,0,121.0,36.0,1.2,111.0,2.5,15.4,44,7800,5.2,1,4,1,0,0,0
1,7,50,1.020,4.0,0.0,1,1,0,0,423.0,18.0,0.8,111.0,2.5,11.3,38,6000,4.8,0,3,1,0,0,0
2,62,80,1.010,2.0,3.0,1,1,0,0,423.0,53.0,1.8,111.0,2.5,9.6,31,7500,4.8,0,4,1,1,0,1
3,48,70,1.005,4.0,0.0,1,0,1,0,117.0,56.0,3.8,111.0,2.5,11.2,32,6700,3.9,1,3,1,1,1,1
4,51,80,1.010,2.0,0.0,1,1,0,0,106.0,26.0,1.4,142.0,3.2,11.6,35,7300,4.6,0,3,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55,80,1.020,0.0,0.0,1,1,0,0,140.0,49.0,0.5,150.0,4.9,15.7,47,6700,4.9,0,3,1,0,0,0
396,42,70,1.025,0.0,0.0,1,1,0,0,75.0,31.0,1.2,141.0,3.5,16.5,54,7800,6.2,0,3,1,0,0,0
397,12,80,1.020,0.0,0.0,1,1,0,0,100.0,26.0,0.6,137.0,4.4,15.8,49,6600,5.4,0,3,1,0,0,0
398,17,60,1.025,0.0,0.0,1,1,0,0,114.0,50.0,1.0,135.0,4.9,14.2,51,7200,5.9,0,3,1,0,0,0
399,58,80,1.025,0.0,0.0,1,1,0,0,131.0,18.0,1.1,141.0,3.5,15.8,53,6800,6.1,0,3,1,0,0,0

In [44]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    1
399    1
Name: classification, Length: 400, dtype: int32

In [45]:
data.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48,80,1.020,1.0,0.0,1,1,0,0,121.0,36.0,1.2,111.0,2.5,15.4,44,7800,5.2,1,4,1,0,0,0,0
1,7,50,1.020,4.0,0.0,1,1,0,0,423.0,18.0,0.8,111.0,2.5,11.3,38,6000,4.8,0,3,1,0,0,0,0
2,62,80,1.010,2.0,3.0,1,1,0,0,423.0,53.0,1.8,111.0,2.5,9.6,31,7500,4.8,0,4,1,1,0,1,0
3,48,70,1.005,4.0,0.0,1,0,1,0,117.0,56.0,3.8,111.0,2.5,11.2,32,6700,3.9,1,3,1,1,1,1,0
4,51,80,1.010,2.0,0.0,1,1,0,0,106.0,26.0,1.4,142.0,3.2,11.6,35,7300,4.6,0,3,1,0,0,0,0

In [46]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3)

In [47]:
xtrain.shape,xtest.shape,ytrain.shape,ytest.shape

((280, 24), (120, 24), (280,), (120,))

In [48]:
xtrain

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
131,5,50,1.010000,0.000000,0.000000,1,1,0,0,219.0,25.0,0.6,136.0,4.5,11.8,36,12400,4.8,0,3,1,0,0,0
203,51,90,1.017408,1.016949,0.450142,1,1,0,0,207.0,80.0,6.8,142.0,5.5,8.5,11,9600,4.8,1,4,1,0,0,1
259,35,80,1.020000,0.000000,0.000000,1,1,0,0,104.0,31.0,1.2,135.0,5.0,16.1,45,4300,5.2,0,3,1,0,0,0
338,62,80,1.020000,0.000000,0.000000,1,1,0,0,132.0,34.0,0.8,147.0,3.5,17.8,44,4700,4.5,0,3,1,0,0,0
285,66,70,1.020000,0.000000,0.000000,1,1,0,0,94.0,19.0,0.7,135.0,3.9,16.0,41,5300,5.9,0,3,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,47,80,1.025000,0.000000,0.000000,1,1,0,0,124.0,44.0,1.0,140.0,4.9,14.9,41,7000,5.7,0,3,1,0,0,0
42,47,100,1.010000,0.000000,0.000000,0,1,0,0,204.0,29.0,1.0,139.0,4.2,9.7,33,9200,4.5,1,3,1,0,0,1
195,70,90,1.020000,2.000000,1.000000,0,0,0,1,184.0,98.6,3.3,138.0,3.9,5.8,11,9600,4.8,1,4,2,1,0,0
62,15,60,1.020000,3.000000,0.000000,0,1,0,0,86.0,15.0,0.6,138.0,4.0,11.0,33,7700,3.8,1,4,1,0,0,0
56,76,70,1.015000,3.000000,4.000000,1,0,1,0,93.0,164.0,9.7,131.0,4.4,10.2,30,11300,3.4,1,4,2,1,1,0

In [49]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [50]:
xtest

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
81,45,90,1.017408,1.016949,0.450142,1,1,0,0,360.0,45.0,2.4,128.0,4.4,8.3,29,5500,3.7,1,4,1,0,0,0
205,61,70,1.017408,1.016949,0.450142,1,1,0,0,100.0,28.0,2.1,135.0,4.0,12.6,43,9600,4.8,1,4,1,0,0,0
336,25,60,1.020000,0.000000,0.000000,1,1,0,0,119.0,27.0,0.5,141.0,4.9,15.2,40,9200,5.2,0,3,1,0,0,0
347,43,60,1.025000,0.000000,0.000000,1,1,0,0,108.0,25.0,1.0,144.0,5.0,17.8,43,7200,5.5,0,3,1,0,0,0
55,35,80,1.005000,3.000000,0.000000,0,1,0,0,93.0,42.0,1.3,131.0,4.4,9.5,28,9600,4.8,0,3,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,71,90,1.010000,0.000000,3.000000,0,1,0,0,303.0,30.0,1.3,136.0,4.1,13.0,38,9200,4.6,1,4,1,0,0,0
178,42,90,1.020000,2.000000,0.000000,0,0,1,0,93.0,153.0,2.7,139.0,4.3,9.8,34,9800,4.8,0,3,1,1,1,1
70,61,80,1.015000,0.000000,4.000000,1,1,0,0,360.0,19.0,0.7,137.0,4.4,15.2,44,8300,5.2,1,4,1,0,0,0
326,47,60,1.020000,0.000000,0.000000,1,1,0,0,109.0,25.0,1.1,141.0,4.7,15.8,41,8300,5.2,0,3,1,0,0,0
79,56,80,1.010000,1.000000,0.000000,1,1,0,0,165.0,55.0,1.8,133.0,5.0,13.5,40,11800,5.0,1,4,1,1,1,0

In [53]:
data.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48,80,1.020,1.0,0.0,1,1,0,0,121.0,36.0,1.2,111.0,2.5,15.4,44,7800,5.2,1,4,1,0,0,0,0
1,7,50,1.020,4.0,0.0,1,1,0,0,423.0,18.0,0.8,111.0,2.5,11.3,38,6000,4.8,0,3,1,0,0,0,0
2,62,80,1.010,2.0,3.0,1,1,0,0,423.0,53.0,1.8,111.0,2.5,9.6,31,7500,4.8,0,4,1,1,0,1,0
3,48,70,1.005,4.0,0.0,1,0,1,0,117.0,56.0,3.8,111.0,2.5,11.2,32,6700,3.9,1,3,1,1,1,1,0
4,51,80,1.010,2.0,0.0,1,1,0,0,106.0,26.0,1.4,142.0,3.2,11.6,35,7300,4.6,0,3,1,0,0,0,0

In [58]:
model.predict([[48,80,1.020,4,0,1,1,0,0,121,36,1.2,111,2.5,15.4,44,7800,5.2,1,4,1,0,0,0]])

c:\Python310\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])

In [ ]:
model.predict(xtest)